<IfModule mod_headers.c>
  SetEnvIf Origin "^http://localhost(:[0-9]+)?$" ORIGIN_OK=$0
  SetEnvIf Origin "^http://127\.0\.0\.1(:[0-9]+)?$" ORIGIN_OK=$0
  SetEnvIf Origin "^https://italents\.ma$" ORIGIN_OK=$0
  SetEnvIf Origin "^https://www\.italents\.ma$" ORIGIN_OK=$0

  Header always set Access-Control-Allow-Origin "%{ORIGIN_OK}e" env=ORIGIN_OK
  Header always set Vary "Origin" env=ORIGIN_OK

  Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"
  Header always set Access-Control-Allow-Headers "Authorization, Content-Type"
</IfModule>